.message {
    $spacing: 16px;
    margin-top: $spacing;
    margin-bottom: $spacing;

    mat-card-subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    mat-card-footer {
        display: flex;
        justify-content: flex-end;
        padding-right: 8px;
        padding-top: 4px;

        mat-icon {
            font-size: 18px;
            opacity: 0.65;
        }
    }
}
