$defaultColor: #424242;
:root {
    --gradient-color: $defaultColor;
}

.message {
    $spacing: 16px;
    margin-top: $spacing;
    margin-bottom: $spacing;
    position: relative;
    background-color: transparentize($defaultColor, 0.2);

    mat-card-subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    mat-card-footer {
        display: flex;
        justify-content: flex-end;
        padding-right: 8px;
        padding-top: 4px;

        mat-icon {
            font-size: 18px;
            opacity: 0.65;
        }
    }
    &::before {
        content: "";
        display: block;
        background: radial-gradient(circle at bottom right, var(--gradient-color) 0, $defaultColor 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border: none;
    }
}
