@model IEnumerable<ChatBeet.Pages.Tags.IndexModel.Stat>
@{
    var max = Model.Max(s => s.Total);
    float getPercentage(int count) => max > 0 ? (float)count * 100 / max : 0;
    var count = 0;
    var offset = 200;
    string getLink(string tag) => $"https://gelbooru.com/index.php?page=post&s=list&tags=rating:safe%20{tag}";
}
<div class="list-group">
    @foreach (var stat in Model)
    {
        <a class="list-group-item list-group-item-action position-relative overflow-none" href="@getLink(stat.Tag)" target="_blank">
            <span class="ml-2">
                @stat.Tag.Replace("_", " ")
                <span class="badge badge-pill badge-primary ml-1">@stat.Total</span>
            </span>
            <background-bar class="bg-primary" value="stat.Total" animation-delay="count * offset" collection-max="max"></background-bar>
        </a>
        count++;
    }
</div>