@page "{userId}"
@model ChatBeet.Pages.Tags.UserModel
@{
    ViewData["Title"] = $"Stats for {Model.User}";
}

<h1>Stats for <span class="text-secondary">@Model.User?.DisplayName()</span></h1>
@if (Model.Stats.Any())
{
    <partial name="_TagStats" model="Model.Stats" />
}
else
{
    <p class="text-warning">No stats found for user <b>@Model.User?.DisplayName()</b></p>
}