@page "{nick}"
@model ChatBeet.Pages.Tags.UserModel
@{
    ViewData["Title"] = $"Stats for {Model.User}";
}

<h1>Stats for <span class="text-secondary">@Model.User</span></h1>
@if (Model.Stats.Any())
{
    <partial name="_TagStats" model="Model.Stats" />
}
else
{
    <p class="text-warning">No stats found for user <b>@Model.User</b></p>
}