@page
@model ChatBeet.Pages.FixedTimeRanges.CreateModel

@{
    ViewData["Title"] = "Create Fixed Time Range";
}

<h1>Create</h1>

<h4>Fixed Time Range</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FixedTimeRange.Key" class="control-label"></label>
                <input asp-for="FixedTimeRange.Key" class="form-control" />
                <span asp-validation-for="FixedTimeRange.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedTimeRange.Template" class="control-label"></label>
                <input asp-for="FixedTimeRange.Template" class="form-control" />
                <span asp-validation-for="FixedTimeRange.Template" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedTimeRange.BeforeRangeMessage" class="control-label"></label>
                <input asp-for="FixedTimeRange.BeforeRangeMessage" class="form-control" />
                <span asp-validation-for="FixedTimeRange.BeforeRangeMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedTimeRange.AfterRangeMessage" class="control-label"></label>
                <input asp-for="FixedTimeRange.AfterRangeMessage" class="form-control" />
                <span asp-validation-for="FixedTimeRange.AfterRangeMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedTimeRange.StartDate" class="control-label"></label>
                <input asp-for="FixedTimeRange.StartDate" class="form-control" />
                <span asp-validation-for="FixedTimeRange.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedTimeRange.EndDate" class="control-label"></label>
                <input asp-for="FixedTimeRange.EndDate" class="form-control" />
                <span asp-validation-for="FixedTimeRange.EndDate" class="text-danger"></span>
            </div>
            <div class="d-flex flex-wrap">
                <a asp-page="./Index" class="btn btn-outline-light my-2 mr-2">Back to List</a>
                <span class="flex-grow-1"></span>
                <input type="submit" value="Create" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
