@page
@model ChatBeet.Pages.FixedTimeRanges.EditModel

@{
    ViewData["Title"] = $"Edit {Model.ProgressSpan.Key}";
}

<h1>Edit</h1>

<h4>@Model.ProgressSpan.Key</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgressSpan.Key" />
            <div class="form-group">
                <label asp-for="ProgressSpan.Template" class="control-label"></label>
                <input asp-for="ProgressSpan.Template" class="form-control" />
                <span asp-validation-for="ProgressSpan.Template" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressSpan.BeforeRangeMessage" class="control-label"></label>
                <input asp-for="ProgressSpan.BeforeRangeMessage" class="form-control" />
                <span asp-validation-for="ProgressSpan.BeforeRangeMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressSpan.AfterRangeMessage" class="control-label"></label>
                <input asp-for="ProgressSpan.AfterRangeMessage" class="form-control" />
                <span asp-validation-for="ProgressSpan.AfterRangeMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressSpan.StartDate" class="control-label"></label>
                <input asp-for="ProgressSpan.StartDate" class="form-control" />
                <span asp-validation-for="ProgressSpan.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressSpan.EndDate" class="control-label"></label>
                <input asp-for="ProgressSpan.EndDate" class="form-control" />
                <span asp-validation-for="ProgressSpan.EndDate" class="text-danger"></span>
            </div>
            <div class="d-flex flex-wrap">
                <a asp-page="./Index" class="btn btn-outline-light my-2 mr-2">Back to List</a>
                <span class="flex-grow-1"></span>
                <input type="submit" value="Save" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
