@page
@model ChatBeet.Pages.FixedTimeRanges.IndexModel

@{
    ViewData["Title"] = "Index";
    var count = 0;
    var offset = 200;
}

<h1>Fixed Time Ranges</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<div class="my-4">
    <div class="list-group">
        @foreach (var range in Model.FixedTimeRange.Reverse())
        {
            var percentage = (DateTime.Now - range.StartDate) * 100 / (range.EndDate - range.StartDate);
            if (percentage > 100)
                percentage = 100;
            else if (percentage < 0)
                percentage = 0;
            <a asp-page="./Details" asp-route-id="@range.Key" class="list-group-item list-group-item-action position-relative overflow-none">
                <span class="ml-2 d-flex align-items-center flex-wrap">
                    <span>@range.Key</span>
                    <span class="flex-grow-1"></span>
                    <span>@range.Template.Replace("{percentage}", $"{percentage / 100:P}")</span>
                </span>
                <background-bar class="bg-primary" value="Convert.ToInt32(percentage)" animation-delay="count * offset" collection-max="100"></background-bar>
            </a>
            count++;
        }
    </div>
</div>