<div class="container">
    <h1 class="wide">Commands</h1>
    <mat-accordion class="wide">
        <mat-expansion-panel *ngFor="let command of commands" #pane>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{command.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <mat-chip-list [ngSwitch]="command.type">
                        <mat-chip *ngSwitchCase="1">
                            Slash
                        </mat-chip>
                        <mat-chip *ngSwitchCase="2">
                            User Menu
                        </mat-chip>
                        <mat-chip *ngSwitchCase="3">
                            Message Menu
                        </mat-chip>
                        <mat-chip *ngSwitchCase="4">
                            Autocomplete
                        </mat-chip>
                    </mat-chip-list>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <div *ngIf="command.description">{{command.description}}</div>
                <div *ngIf="pane.expanded">
                    <div *ngIf="command.type == 1 && !getSubCommands(command).length" style="margin-top:12px;">
                        <h5 style="margin-bottom:0">Example Usage</h5>
                        <code>
                            <span class="text-white-50">/{{command.name}}</span><span class="text-white" *ngFor="let opt of getOptions(command)">&nbsp;&lt;{{opt.name}}&gt;</span>
                        </code>
                        <mat-divider></mat-divider>
                        <div *ngIf="getOptions(command).length">
                            <h5 style="margin-bottom:0">Options</h5>
                            <ul>
                                <li *ngFor="let opt of getOptions(command)">
                                    <span>
                                        <code>{{opt.name}}</code>
                                        <mat-chip-list [ngSwitch]="opt.type"
                                            style="display:inline-block; margin-left:12px;">
                                            <mat-chip *ngSwitchCase="3">
                                                string
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="4">
                                                integer
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="5">
                                                boolean
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="6">
                                                User
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="7">
                                                Channel
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="8">
                                                Role
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="9">
                                                Mentionable
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="10">
                                                number
                                            </mat-chip>
                                            <mat-chip *ngSwitchCase="11">
                                                Attachment
                                            </mat-chip>
                                        </mat-chip-list>
                                    </span>
                                    <div>{{opt.description}}</div>
                                    <ul>
                                        <li>{{opt.Required ? 'Required' : 'Optional'}}</li>
                                        <li *ngIf="opt.choices?.length">
                                            Available Choices:
                                            <ul>
                                                <li *ngFor="let c of opt.choices">{{c.name}}</li>
                                            </ul>
                                        </li>
                                        <li *ngIf="opt.autoComplete">
                                            Autocomplete available
                                        </li>
                                        <li *ngIf="opt.minLength">
                                            Min Length: {{opt.minLength}}
                                        </li>
                                        <li *ngIf="opt.maxLength">
                                            Max Length: {{opt.maxLength}}
                                        </li>
                                        <li *ngIf="opt.minValue">
                                            Min Value: {{opt.minValue}}
                                        </li>
                                        <li *ngIf="opt.maxValue">
                                            Max Value: {{opt.maxValue}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngFor="let sub of getSubCommands(command)">
                        <mat-divider></mat-divider>
                        <h2 style="margin-bottom: 0">{{sub.name}}</h2>
                        <div *ngIf="command.description">{{sub.description}}</div>
                        <h5 style="margin-bottom:0">Example Usage</h5>
                        <code>
                            <span class="text-white-50">/{{command.name}} {{sub.name}}</span><span class="text-white" *ngFor="let opt of getOptions(sub)">&nbsp;&lt;{{opt.name}}&gt;</span>
                        </code>
                        <h5 style="margin-bottom:0">Options</h5>
                        <ul>
                            <li *ngFor="let opt of getOptions(sub)">
                                <span>
                                    <code>{{opt.name}}</code>
                                    <mat-chip-list [ngSwitch]="opt.type"
                                        style="display:inline-block; margin-left:12px;">
                                        <mat-chip *ngSwitchCase="3">
                                            string
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="4">
                                            integer
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="5">
                                            boolean
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="6">
                                            User
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="7">
                                            Channel
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="8">
                                            Role
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="9">
                                            Mentionable
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="10">
                                            number
                                        </mat-chip>
                                        <mat-chip *ngSwitchCase="11">
                                            Attachment
                                        </mat-chip>
                                    </mat-chip-list>
                                </span>
                                <div>{{opt.description}}</div>
                                <ul>
                                    <li>{{opt.Required ? 'Required' : 'Optional'}}</li>
                                    <li *ngIf="opt.choices?.length">
                                        Available Choices:
                                        <ul>
                                            <li *ngFor="let c of opt.choices">{{c.name}}</li>
                                        </ul>
                                    </li>
                                    <li *ngIf="opt.autoComplete">
                                        Autocomplete available
                                    </li>
                                    <li *ngIf="opt.minLength">
                                        Min Length: {{opt.minLength}}
                                    </li>
                                    <li *ngIf="opt.maxLength">
                                        Max Length: {{opt.maxLength}}
                                    </li>
                                    <li *ngIf="opt.minValue">
                                        Min Value: {{opt.minValue}}
                                    </li>
                                    <li *ngIf="opt.maxValue">
                                        Max Value: {{opt.maxValue}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>