@model ChatBeet.Queuing.Rules.ViewableNode

@{
    var id = Guid.NewGuid().ToString().Replace("-", string.Empty);
}

<li class="treeview-animated-element">
    <a class="closed d-block w-100">
        @if (Model.Children != null && Model.Children.Any())
        {
            <i class="fas fa-angle-right"></i>
        }
        <span>@Html.DisplayFor(m => m.Text)</span>
    </a>
    @if (Model.Children != null)
    {
        <ul class="nested">
            @foreach (var child in Model.Children.Where(c => c != null))
            {
                <partial name="_RecursiveTree" model="child" />
            }
        </ul>
    }
</li>