.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr {
    overflow: hidden;
}

td.mat-column-expandedDetail {
    background-color: transparentize(black, 0.9);
}

.expand-detail {
    overflow-y: hidden;
}

app-discord-content {
    padding: 16px;
    display: block;
}
