@page "/Account/Login"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ChatBeet.Pages.Account.LoginModel
@{
    ViewBag.Title = "Log In";
}

<h1>Log In</h1>
<div>
    <h2>Log in with Discord</h2>
    <form asp-controller="Login" asp-action="DiscordLogin" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>

        <button class="btn btn-lg btn-success m-1" type="submit">Connect using Discord</button>
    </form>
</div>