<mat-nav-list>
    <a mat-list-item routerLink="/commands" routerLinkActive="active">
        <mat-icon mat-list-icon>terminal</mat-icon>Commands
    </a>
    <a mat-list-item routerLink="/definitions" routerLinkActive="active">
        <mat-icon mat-list-icon>menu_book</mat-icon>Definitions
    </a>
    <a mat-list-item routerLink="/karma" routerLinkActive="active">
        <mat-icon mat-list-icon>heart_plus</mat-icon>Karma
    </a>
    <a mat-list-item routerLink="/high-ground" routerLinkActive="active">
        <mat-icon mat-list-icon>elevation</mat-icon>The High Ground
    </a>
    <a mat-list-item routerLink="/quotes" routerLinkActive="active">
        <mat-icon mat-list-icon>format_quote</mat-icon>Quotes
    </a>
    <a mat-list-item routerLink="/stats" routerLinkActive="active">
        <mat-icon mat-list-icon>insights</mat-icon>Stats <mat-chip disabled style="margin-left:8px">Coming Soon&trade;</mat-chip>
    </a>
    <a mat-list-item routerLink="/crewmates" routerLinkActive="active">
        <mat-icon mat-list-icon>rocket_launch</mat-icon>Crewmates
    </a>
    <a mat-list-item routerLink="/speedometer" routerLinkActive="active">
        <mat-icon mat-list-icon>speed</mat-icon>Speedometer <mat-chip disabled style="margin-left:8px">Coming Soon&trade;</mat-chip>
    </a>
    <a mat-list-item routerLink="/progress" routerLinkActive="active">
        <mat-icon mat-list-icon>timer</mat-icon>Progress Spans
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/preferences" routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>Preferences
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item href="/swagger" target="_blank">
        <mat-icon mat-list-icon>api</mat-icon>API Docs
    </a>
    <a mat-list-item href="https://github.com/halomademeapc/ChatBeet/issues/new/choose" target="_blank">
        <mat-icon mat-list-icon>bug_report</mat-icon> Report an Issue
    </a>
</mat-nav-list>