@page
@inject ChatBeet.Queuing.QueueConfigurationAccessor accessor;

@{
    var rules = accessor.GetRules();
}

<h2>Rules</h2>

@foreach (var rule in rules.OrderBy(r => r.Label))
{
    var node = rule.ToNode();
    <div class="w-100 d-flex">
        <div class="treeview-animated w-20 border mx-4 my-4 flex-grow-1">
            <h6 class="pt-3 pl-3">@rule.Label</h6>
            <hr>
            @if (node.Children != null)
            {
                <ul class="treeview-animated-list mb-3">
                    @foreach (var child in node.Children.Where(c => c != null))
                    {
                        <partial name="_RecursiveTree" model="child" />
                    }
                </ul>
            }
        </div>
    </div>
}