@page
@model ChatBeet.Pages.DefsModel
@inject ChatBeet.Data.MemoryCellContext db;
@{
    var defs = await db.MemoryCells.ToListAsync();
    defs.Reverse();
    ViewBag.Title = "Definitions";
}

<h1>Definitions</h1>
<code>.cb remember <b>spud</b> = <b>potato</b></code>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var def in defs)
        {
        <tr>
            <th scope="row">@def.Key</th>
            <td class="value">@def.Value</td>
            <td>@def.Author</td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://unpkg.com/linkifyjs@2.1.9/dist/linkify.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/linkifyjs@2.1.9/dist/linkify-jquery.min.js" type="text/javascript"></script>
    <script>
        $('.value').linkify();
    </script>
}