@page
@model ChatBeet.Pages.DefsModel
@{
    ViewBag.Title = "Definitions";
}
<div id="tagList">
    <h1>Definitions</h1>
    <code>.cb remember <b>spud</b> = <b>potato</b></code>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Filter</span>
        </div>
        <input type="text" class="form-control" data-in="this.filter" data-immediate="true">
    </div>
    <form asp-page="/Defs" method="post">
        <table class="table table-flex-md">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <tr class="retain-spacing">
                        <td scope="col">
                            <label class="sr-only" asp-for="Info.Key"></label>
                            <input type="text" class="form-control" asp-for="Info.Key">
                        </td>
                        <td scope="col">
                            <label class="sr-only" asp-for="Info.NewValue"></label>
                            <input type="text" class="form-control" asp-for="Info.NewValue">
                        </td>
                        <td scope="col">
                            <button type="submit" class="btn btn-primary w-100">Set</button>
                        </td>
                    </tr>
                }
                @foreach (var def in Model.Cells)
                {
                    <tr data-show="!this.filter || '@def.Key.Replace("'","\"")'.toLowerCase().includes(this.filter.toLowerCase())">
                        <th scope="row">@def.Key</th>
                        <td class="value">@def.Value</td>
                        <td>@def.Author</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

@section Scripts {
    <script src="https://unpkg.com/linkifyjs@2.1.9/dist/linkify.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/linkifyjs@2.1.9/dist/linkify-jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.value').linkify();
    </script>
    <script type="text/javascript">
        var binder = new GravyBinder({ filter: '' }, document.getElementById('tagList'));
    </script>
}