@page "HighGround"
@model ChatBeet.Pages.HighGroundModel

@{
    ViewBag.Title = "The High Ground";
}

@if (!string.IsNullOrEmpty(Model.Channel))
{
    <div class="high-ground">
        <img src="~/img/high_ground.webp" />
        <span class="ground-label person">@Model.Nick</span>
        <span class="ground-label channel">@Model.Channel</span>
    </div>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <form asp-page="/HighGround" method="post" class="mt-4">
            <input asp-for="Channel" type="hidden" />
            <button class="btn btn-primary" type="submit">Claim the High Ground</button>
        </form>
    }
}
else
{
    <p>The high ground is unclaimed.</p>
}
