@page
@inject ChatBeet.Queuing.IMessageQueueService queueService
@{
    ViewData["Title"] = "IncomingMessages";
    var items = queueService.GetOutputHistory();
}

<h2>Output History</h2>

@foreach (var i in items.Reverse().Take(50))
{
    <div class="my-3">
        <div>
            <span>@i.Content</span>
        </div>
        <div>
            <span class="font-weight-bold">@i.OutputType.ToString()</span>
        </div>
        <div>
            <span>@i.Target</span>
        </div>
    </div>
}