@page
@model ChatBeet.Pages.SpeedometerModel
@{
    ViewBag.Title = $"Speedometer for {Model.ChannelName}";
}
<div class="speedo" id="speedo-root">

    <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
        <h1>Message Rate in @Model.ChannelName</h1>
        <select class="custom-select speedo__mode-toggle" data-in="this.displayMode" style="width:initial">
            <option value="dial" selected>Dial</option>
            <option value="sb">Spaceball I</option>
        </select>
    </div>

    <div data-show="this.displayMode=='sb'" class="trapezoid-container mt-4">
        <div class="trapezoid-pre"></div>
        <div class="trapezoid-content sb-gauge pt-2">
            <span>Hyperjet Engine Status</span>
            <div class="sb-indicator sb-indicator--light" data-class="sb-indicator--active" data-class-condition="this.meetsThreshold(0.2)">
                Light Speed
            </div>
            <div class="sb-indicator sb-indicator--ridiculous" data-class="sb-indicator--active" data-class-condition="this.meetsThreshold(0.5)">
                Ridiculous Speed
            </div>
            <div class="sb-indicator sb-indicator--ludicrous" data-class="sb-indicator--active" data-class-condition="this.meetsThreshold(0.8)">
                Ludicrous Speed
            </div>
        </div>
        <div class="trapezoid-post"></div>
    </div>
    <div data-show="this.displayMode=='dial'" class="d-flex justify-content-center">
        <canvas id="car-speedo" style="width:80vw;height:20vw;max-width:800px;" data-show="this.displayMode=='dial'"></canvas>
    </div>
    <h3 class="text-center mt-5">
        <span data-display="this.rate" class="font-weight-bold"></span>
        <span data-show="this.rate == 1">message</span>
        <span data-hide="this.rate == 1">messages</span>
        <span>per minute</span>
    </h3>
    <input asp-for="ChannelName" data-in="this.channelName" type="hidden" />
</div>

@section scripts{
    <script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script type="text/javascript" src="~/js/speedo.js"></script>
    <script type="text/javascript">
        speedo.setValue(@Model.Rate);
    </script>
}
